header {
    position: relative;
}

header .nav {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 1px;
    position: relative;
    background-color: black;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateY(30px);
    width: 200px;
    z-index: 10;
}



.logo img {
    width: 100%;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    font-family: Orbitron, sans-serif;
    font-size: 20px;
    margin-left: 200px;
    padding: 0;
}

nav ul li:first-child {
    margin-left: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: Orbitron, sans-serif;
}

nav a:hover {
    color: #00ffff;
}
body {
    background-color: #22252a; 
}

main{
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card {
    background-color: #2d3238;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    width: 300px;
    height: 300px;
    padding: 20px;
}
